<!DOCTYPE html>
<html layout:decorate="~{main}">
<head>
<meta charset="UTF-8">
<title>Peça Já! - Recuperar Senha</title>
</head>

<body class="login">

	<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
	<section layout:fragment="content">

		<div>
			<a class="hiddenanchor" id="signup"></a> <a class="hiddenanchor"
				id="signin"></a>

			<div class="login_wrapper">
				<div class="animate form login_form">
					<section
						style="box-shadow: 5px 10px #aaa;; background-color: white; border-radius: 20px; padding: 25px"
						class="login_content">

						<div class="row">
							<div class="alert  alert-error"
								th:if="${ not #strings.isEmpty(mensagemErro)}">
								<span th:text="${mensagemErro}"></span>
							</div>
						</div>

						<form th:action="@{/esqueciSenha}" method="post">
							<h1>Esqueci Senha</h1>
							<div>
								<input name="email" type="email" class="form-control"
									placeholder="Email" required />
							</div>
							<div>
								<input value="Enviar Solicitação" type="submit"
									class="btn btn-primary" /> <a class="reset_pass"
									th:href="@{/login}">Fazer Login?</a>
							</div>

							<!-- 							<div class="row"> -->
							<!-- 								<div class="col-md-12" id="formEsqueciSenha"></div> -->
							<!-- 							</div> -->

							<div class="clearfix"></div>

							<div class="separator">

								<div class="clearfix"></div>
								<br />

								<div>
									<h1>
										<img th:src="@{/img/logo-login.png}"> Peça Já!
									</h1>
									<p>©2016 All Rights Reserved. Gentelella Alela! is a
										Bootstrap 3 template. Privacy and Terms</p>
								</div>
							</div>
						</form>
					</section>
				</div>
			</div>
		</div>

	</section>
	<th:block xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:fragment="end">

		<!-- jQuery -->
		<script th:src="@{/vendors/jquery/dist/jquery.min.js}">
			
		</script>
		<!-- Bootstrap -->
		<script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
		<!-- FastClick -->

		<!-- Custom Theme Scripts -->
		<script th:src="@{/js/custom.min.js}"></script>

		<script>
			// 			$(document)
			// 					.ready(
			// 							function() {
			// 								$("#esqueceuSenha")
			// 										.click(
			// 												function() {
			// 													$("#formEsqueciSenha")
			// 															.html(
			// 																	"<input style='width: 278px; padding-left: 10px;border-left-width: 0px; margin-left: 20px;' name='email' type='email' class='form-control col-md-12' placeholder='email' required />");
			// 												});
			// 							});
		</script>
	</th:block>
</body>
</html>

