.conteudo{
    padding: 80px 0 20px 0;

}
.butoes-menu-principal{
    opacity: 0.8;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 15px;
    min-height:142px;
    background-position: left top;
    background-color: #fff;
    box-shadow: 2px 2px 1px #888888;
}
.butoes-menu-principal:hover{
    opacity: 9;
    border: 1px solid white !important;
    border: solid 1px;
    border-radius: 15px;
    box-shadow: 6px 6px 5px #888888;
}
.principal-btn-title{
    font-size: 2em;
    font-weight: bold;
    text-align: right;
}
.principal-btn-desc {
    font-size: 1em;
    font-style: italic;
    text-align: end;
}
.principal-btn-desc:hover {
    font-style: normal;
}
#button-produtos{
/*     background-color: #FFC861; */
    background-image: url(/img/produtos-card.png);
    background-repeat: no-repeat;
    background-size: 100px;
}
#button-pedidos{
/*     background-color: #D085E2; */
    background-image: url(/img/pedidos-card.jpeg);
    background-size: 110px;
    background-repeat: no-repeat;
}
#button-historico{
/*     background-color: #FFF; */
    background-image: url(/img/historico-card.jpg);
    background-repeat: no-repeat;
    background-size: 110px;
}
#button-receitas{
    background-color: #FF9885;
    background-image: url(/public/images/btn_receitas.png);
    background-repeat: no-repeat;
    background-size: 150px;
}
#button-cardapios{
    background-color: #73E273;
    background-image: url(/public/images/btn_cardapios.png);
    background-repeat: no-repeat;
    background-size: 150px;
}
#button-tipos-de-refeicao{
    background-color: #FFF985;
    background-image: url(/public/images/btn_tipo_refeicao.png);
    background-repeat: no-repeat;
    background-size: 160px;
}
#button-locais{
    background-color: #8ABAE1;
    background-image: url(/public/images/btn_locais.png);
    background-repeat: no-repeat;
    background-size: 150px;
}
